@import '../core-variables/colors';

.footer {
	width: 100%;
	margin: none;
}

.footer__list {
	margin: 1rem 0 0 .4rem;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	margin: 1rem 0 0 1rem;
}

.footer .item {
	&:not(:last-child) {
		border-right: 1px solid rgb(222, 218, 218);
	}
	a {
		padding: 0 .2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: .6rem;
		padding: 0 .5rem;
		margin-bottom: .4rem;
		color: $color-tertiary;
		text-decoration: none;
	}
}

.footer__svg {
	font-size: 1rem;
	margin-bottom: .2rem;
}
