@import '../core-variables/colors';
@import '../core-variables/fonts';

//mobile-first approach in all style sheets

.wrap {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
	@media only screen and (min-width: 500px) {
		margin-bottom: 7rem;
	}
}
.wrap__image {
	position: relative;
	margin-bottom: 1.5rem;
}

.wrap__img {
	width: 100%;
	height: auto;
	height: 100%;
	display: block;
}

.wrap__span {
	position: absolute;
	top: .5rem;
	left: .5rem;
	background-color: white;
	padding: 0 .4rem;
	font-size: .8rem;
}

.wrap__article {
	margin: 0rem .6rem;
	font-family: $font-primary;

	.wrap__heading {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 1.6rem;
		margin: 0 .6rem;
		font-family: $font-primary;

		@media only screen and (min-width: 500px) {
			font-size: 2rem;
			line-height: 2.3rem;
		}
	}

	.wrap__text {
		margin: 1.5rem .6rem .6rem .6rem;
		font-family: $font-primary;
	}
}
